# SSH Hardened Configuration

Port {{ sshd_hardening_port }}
Protocol {{ sshd_hardening_protocol }}
PermitRootLogin {{ sshd_hardening_permit_root_login }}
PermitEmptyPasswords {{ sshd_hardening_permit_empty_passwords }}
PasswordAuthentication {{ sshd_hardening_password_authentication }}
LoginGraceTime {{ sshd_hardening_login_grace_time }}
ClientAliveInterval {{ sshd_hardening_client_alive_interval }}
MaxAuthTries {{ sshd_hardening_max_auth_tries }}
X11Forwarding {{ sshd_hardening_x11_forwarding }}

{% if sshd_hardening_allowed_users %}
AllowUsers {{ sshd_hardening_allowed_users | join(' ') }}
{% endif %}

{% if sshd_hardening_sftp_enabled %}
Subsystem sftp /usr/lib/openssh/sftp-server
{% endif %}
