[Unit]
Description=Run {{ systemd_timer_name }} via systemd timer

[Service]
Type=oneshot
{% if systemd_timer_exec_start_pre is defined %}
ExecStartPre={{ systemd_timer_exec_start_pre }}
{% endif %}
ExecStart={{ systemd_timer_command }}
{% if systemd_timer_exec_start_post is defined %}
ExecStartPost={{ systemd_timer_exec_start_post }}
{% endif %}
{% if systemd_timer_user is defined %}
User={{ systemd_timer_user }}
{% endif %}
{% if systemd_timer_group is defined %}
Group={{ systemd_timer_group }}
{% endif %}
