[Unit]
Description=Timer for {{ systemd_timer_name }}

[Timer]
{% if systemd_timer_on_calendar is defined and systemd_timer_on_calendar %}
OnCalendar={{ systemd_timer_on_calendar }}
{% endif %}
{% if systemd_timer_on_active_sec is defined and systemd_timer_on_active_sec %}
OnActiveSec={{ systemd_timer_on_active_sec }}
{% endif %}
{% if systemd_timer_on_boot_sec is defined and systemd_timer_on_boot_sec %}
OnBootSec={{ systemd_timer_on_boot_sec }}
{% endif %}
{% if systemd_timer_on_startup_sec is defined and systemd_timer_on_startup_sec %}
OnStartupSec={{ systemd_timer_on_startup_sec }}
{% endif %}
{% if systemd_timer_on_unit_active_sec is defined and systemd_timer_on_unit_active_sec %}
OnUnitActiveSec={{ systemd_timer_on_unit_active_sec }}
{% endif %}
{% if systemd_timer_on_unit_inactive_sec is defined and systemd_timer_on_unit_inactive_sec %}
OnUnitInactiveSec={{ systemd_timer_on_unit_inactive_sec }}
{% endif %}
Persistent={{ systemd_timer_persistent | bool | ternary('true', 'false') }}

[Install]
WantedBy=timers.target
